@mixin floorbg() {
  background-image: url('../media/assets/icons/tatami.png');
}

.cell {
  background-size: 40px 40px;
}

.cell-wall {
  background: #333333;
}

.cell-free {
  background-image: url('../media/assets/icons/tatami.png');
}

.cell-player {
  @include floorbg();
  content: url('../media/assets/icons/ninja.png');
}

.cell-medkit {
  @include floorbg();
  content: url('../media/assets/icons/medicine.png');
}

.cell-weapon {
  @include floorbg();
  content: url('../media/assets/icons/sword.png');
}

.cell-enemy {
  @include floorbg();
  content: url('../media/assets/icons/evil-1.png');
}

.cell-boss {
  @include floorbg();
  content: url('../media/assets/icons/evil.png');
}

.cell-teleport {
  @include floorbg();
  content: url('../media/assets/icons/layer.png');
}

.cell-teleport-locked {
  @include floorbg();
  content: url('../media/assets/icons/layers.png');
}

.cell-stats {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.stats-playerhealth {
  content: url('../media/assets/icons/shield.png');
}
.stats-playerlevel {
  content: url('../media/assets/icons/chevron-up.png');
}
.stats-weaponlevel {
  content: url('../media/assets/icons/sword.png');
}
.stats-damagepotential {
  content: url('../media/assets/icons/swords.png');
}
