.cell-wall {
  background-color: #333333;
}

.cell-free {
  background-color: #FFFFFF;
}

.cell-player {
  background-color: #DC143C;
}

.cell-medkit {
  background-color: #428bca;
}

.cell-weapon {
  background-color: orange;
}

.cell-enemy {
  background-color: green;
}

.cell-boss {
  background-color: purple;
}
