.board {
  .row {
    clear: both;
    width: 850px;
    margin: 0 auto;
  }

  .cell {
    //border: solid 1px black;

    width: 40px;
    height: 40px;
    float: left;
  }
}

// Import cells information.
@import '_cells';

// Stats
@import '_stats';
